* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #0474e5;
}

.navContainer{
    display: flex;
    flex-direction: row;
    margin: 1rem;
    justify-content: flex-end;
    background-color: #fff;
    height: auto;
}
.navLink1 {
    background-color: #fff;
    font-family: Muli, sans-serif;
    padding: 1rem 1rem;
    font-size: 16px;
    color: #404040;
    text-decoration: none;
    margin: 10px auto;
}

.navLink {
    font-family: Muli, sans-serif;
    font-size: 14.4px;
    color: #000;
    padding: 0px 4.8px;
    text-decoration: none;
    margin: 30px 10px;
    margin-top: 50px;
}


.search-container {
    max-width: 600px;
    margin: 10px auto;
}
input {
    width: 500px;
    font-size: 16px;
    font-weight: 600;
    color: #000;
    padding: 5 px;
    border: 2px solid navy;
    margin-left: 5px;
    height: 2rem;
    background-color: hsl(0, 0%, 100%)
    
}
.tableSearch {
    margin: 10px;
    padding: 2px;
    padding-left: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#searchNav {
    width: 500px;
    height: 20px;
}

/* .link-container {
    display: flex;
    flex-direction: row;
} */

#project-form {
    box-sizing: border-box;
    padding: 1rem;
    border-radius: 1rem;
    background-color: hsl(0, 0%, 100%);
    border: 4px solid hsl(0, 0%, 90%);
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    width: 50rem;
    /* margin-left: 3rem; */
  }
  select {
    background-color: hsl(0, 0%, 100%);
    border: 2px solid navy;
  }

  label {
    background-color: hsl(0, 0%, 100%);
  }

  button {
    width: 10rem;
    background-color: hsl(0, 0%, 100%);
    border: 2px solid navy;
  }
 /* iudiuhdiuhidhdiuhih */
  * {
	box-sizing: border-box;
}
body {
	font-family: 'Montserrat', sans-serif;
	line-height: 1.6;
	margin: 0;
	min-height: 100vh;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}


h2,
h3,
a {
	color: #34495e;
}

a {
	text-decoration: none;
}



.logo {
	margin-left: 2rem;
	size: 1.45em;
}

.main-nav {
	margin-top: 5px;

}

.main-nav a {
	padding: 10px 15px;
	text-transform: uppercase;
	text-align: center;
	display: block;
    background-color: #f4f4f4;
}

.main-nav a {
	color: #34495e;
	font-size: .99em;
}

.main-nav a:hover {
	color: #718daa;
}



.header {
	position: fixed;
    height: 60px;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    transition: .3s ease-in;
    overflow: hidden;
    background-color: #f4f4f4;
	border-radius: 5px;
   
}


/* ================================= 
  Media Queries
==================================== */




@media (min-width: 769px) {
	.header,
	.main-nav {
		display: flex;
	}
	.header {
		flex-direction: column;
		align-items: center;
    	.header{
		width: 80%;
		margin: 0 auto;
		max-width: 1150px;
	}
	}

}

@media (min-width: 1025px) {
	.header {
		flex-direction: row;
		justify-content: space-between;
	}

}
 #home {
    color: #ff9800;
    display: flex;
    justify-content: center;
    margin-top: 20px;
 }

 #searchlabel {
    background-color: #0474e5;
 }

#candidate-list {
    color: #fff;
    display: flex;
    justify-content: center;
}

img {
    background-color: #f4f4f4;
    width: 7rem;
    /* #52a8ff */
    height: 3rem;
}

#navbutton {
    border: none;
    padding: 10px 15px;
	text-transform: uppercase;
	text-align: center;
	display: block;
    /* background-color: #f4f4f4; */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: #f4f4f4;
   margin-top: 4px;
    margin-right: 10px;
    color: #34495e;
}

li {
    background: #f4f4f4;
}
a.logo {
    background: #f4f4f4;
}

#modal-container {
    background: rgba(0, 0, 0, 0.5);
    width: 200px;
    height: 200px;
    position: fixed;
    top: 0;
    left: 0;
    /* vw and vh */
    width: 100vw;
    height: 100vh;
    z-index: 2;
  
    /*flex stuff below*/
    display: flex;
    /* alignment on the MAIN axis (default horizontal) */
    justify-content: center;
    /* alignment on the CROSS axis (default vertical) */
    align-items: center;
  }
  
  #modal-content {
    width: 700px;
    height: 537px;
    background: white;
    align-items: center;
    border-radius: 2rem;
  }

  .homePageImg img{
    width: 800px;
    height:auto;
    /* margin-left: 5rem; */
  }

  #homepage {
    margin-top: 125px;
  }

  #candidatePage{
    margin-top: 125px;
  }

  .homePageImg {
    display: flex;
    justify-content: center;
  }